PORT=5000
MONGODB_URI=mongodb://localhost:27017/cpms-mini-project
JWT_SECRET=fmdvntuincAjnfricwieu4AS@I@mkmvd*&$@dnjscnericnffjssmcvjfkjgor0545u84u58234jfnwjfwefnu4*&^bhsbchefr3i4ufjjkrnvdf cnjfieu43MCKDSIENkskmdcarvwenvjnrjsrkueiuvnjdnbjrsr
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
